[user]
	name = Yuki Watanabe
	email = ywatanabeznzt@gmail.com
[core]
	editor = vim
[color]
	ui = true
[alias]
	st = status
	graph = log --oneline --graph --decorate=full
	co = checkout
	br = branch -avv
	com = commit
