[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "zplug"]
	path = zplug
	url = https://github.com/zplug/zplug
    ignore = dirty
[submodule "nvim/dein/repos/github.com/Shougo/dein.vim"]
	path = nvim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
